<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Magazyn</h1>
        <input type="text" id="productName" placeholder="Nazwa produktu">
        <input type="number" id="productQuantity" placeholder="Ilość">
        <input type="number" id="productPrice" placeholder="Cena">
        <button onclick="addProduct()">Dodaj produkt</button>
        <ul id="productList">
            {% for product in products %}
            <li>
                <span>{{ product.name }} - {{ product.quantity }} - {{ product.price }}</span>
                <div>
                    <button onclick="deleteProduct({{ product.id }})">Usuń</button>
                    <button onclick="modifyProduct({{ product.id }})">Edytuj</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
